<div class="inner-announcement-bar">
    {{ theme_settings.announcement_bar_text }}
    <p>Free Shipping on orders over $79 <a href="#">Browse Products</a></p>
</div>

<style>
    .wrap-announcement-bar {
        padding: 10px 40px;
        background-color: #BFE0F0;
        text-align: center;
    }
    .wrap-announcement-bar .inner-announcement-bar p,
    .wrap-announcement-bar .inner-announcement-bar a {
        margin: 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
    }
    .inner-announcement-bar a {
        color: #223E99;
    }
    .inner-announcement-bar a:hover {
        color: #F8981C;
    }
</style>